@import "./clear";
@import "./variables";
@import "./themes/light-theme";

body {
  min-width: 320px;
  overflow: hidden;
}

html {
  color: white;
  background-color: #202020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
