@import "@/app/styles/variables";

.list {
  position: relative;
  margin-bottom: 1rem;

  &__button {
    position: absolute;
    top: 8px;
    right: 17px;
    display: flex;
    gap: 1rem;

    &_ok {
      flex: 0 0 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid rgb(43 255 0 / 10%);
      border-radius: 50%;
      transition: all 0.2s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: var(--base-success);
          border: 1px solid rgb(43 255 0 / 50%);
        }
      }
    }
  }

  ol {
    li {
      padding-left: 1.5em;
      line-height: 1.4;
      counter-increment: list-0;

      &:before {
        content: counter(list-0, decimal) ". ";
        margin-left: -1.5em;
        margin-right: 0.3em;
      }
    }
  }
}