.sites_list {
  width: 100%;

  &_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  &_item {
    position: relative;
    flex-basis: 32%;
  }

  &_not_sites_title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.show_site_button {
  position: absolute;
  top: 20px;
  right: 20px;

  &:hover {
    border-color: var(--base-success);

    svg {
      fill: var(--base-success);
    }
  }
}
