.textarea {
  position: relative;
  margin-bottom: 1rem;

  &__construct {
    display: flex;
    flex-direction: column;

    textarea {
      width: 100%;
      padding: 1rem;
      background-color: var(--feature-dark-gray);
      color: var(--feature-light-gray);

      &::placeholder {
        color: var(--feature-gray);
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .button_edit {
        display: block;
      }
    }
  }
}

.edit {
  &__title {
    color: var(--feature-gray);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2px;

    p {
      flex: 0 0 6rem;
      font-size: 0.9rem;
    }
  }
}

.button_ok {
  position: absolute;
  top: 2rem;
  right: 1.2rem;
}

.button_edit {
  display: none;
  position: absolute;
  top: 2rem;
  right: 1.2rem;
}
