.site_view_panel {
  width: calc(75rem - 280px);
  height: calc(100vh - 56px - 19px);
  overflow: hidden;

  &_wrapper {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 56px - 19px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  &_buttons_block {
    position: fixed;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    z-index: 100;
  }

  &_buttons_item {
    button {
      padding: 5px;
    }

    button:hover {
      border-color: var(--base-success);

      svg {
        fill: var(--base-success);
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.modal_body {
  @media (min-width: 48em) {
    display: flex;
    gap: 1rem;

    >* {
      flex: 0 0 50%;
      overflow: auto;
    }
  }
}

.show_site_modal {
  max-height: 100% !important;
  max-width: 100% !important;
}