@import "@/app/styles/variables";

.navbar {
  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: #fff;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      left: 50%;
      height: 1px;
      bottom: 0;
      background-color: $green-color;
      transition: all 0.1s linear;
    }

    &_active {
      color: $green-color;
      font-weight: 600;
      text-shadow: 0 0 8px $green-color;

      @media (max-width: 30em) {
        font-size: 0.8rem;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 100%;
          left: 0;
        }
      }
    }

    @media (max-width: 30em) {
      font-size: 0.8rem;
    }
  }
}
