.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  box-sizing: border-box;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    background-color: white;
    border: solid 1px rgb(88, 88, 88);
    border-radius: 10px;
  }

  &__btn-container {
    align-self: flex-end;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__btn-container:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &__check-btn {
    width: 40px;
    height: 40px;
    color: green;
  }

  &__edit-btn {
    width: 40px;
    height: 40px;
    color: rgb(54, 135, 240);
  }

  &__img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }

  &__disabled-user-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-bottom: 15px;
  }

  &__disabled-user-data {
    text-align: center;
  }

  &__enable-form-container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__input-container>div>input {
    width: 100%;
    color: black;
    border-radius: 8px;
  }

  &__input-container>label {
    font-size: small;
  }
}