html {
  // colors
  --base-white: #fff;
  --base-black: #000;
  --base-primary: #1677ff;
  --base-failed: #e0282e;
  --base-success: #00b96b;

  --base-light-color: #d9d9d9;


  // base styles
  --base-border-radius: 4px;
}