html {
  // colors
  --base-white: #fff;
  --base-black: #000;
  --base-light-color: #d9d9d9;
  --base-primary: #1677ff;
  --base-primary-hover: #4096ff;
  --base-failed: #e0282e;
  --base-failed-hover: #ed5151;
  --base-success: #00b96b;
  --base-success-hover: #20c77c;

  // base styles
  --base-border-radius: 4px;
  --base-transition-time: 0.5s;

  //feature-image
  --green-color: #2bff00;
  --green-color-dark: rgb(43 255 0 / 10%);

  //features
  --feature-gray: #8b8b8b;
  --feature-light-gray: #ccc;
  --feature-dark-gray: #3a3a3a;
  --feature-red: red;
  --feature-light-red: #ff7c7c;
}
