.color_palette {
  position: absolute;
  top: 110px;
  left: 250px;
  width: 225px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  .color_palette>.rcp-body {
    height: 300px;
  }

  &__btn {
    width: 50%;
    align-self: center;
  }
}