.user {
  position: relative;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      fill: #fff;
      font-size: 1.3rem;
      transition: all 0.1s linear;

      @media (any-hover: hover) {
        &:hover {
          fill: var(--green-color);
        }
      }

      @media (max-width: 48em) {
        font-size: 1.1rem;
      }

      @media (max-width: 30em) {
        font-size: 1rem;
      }
    }

    &_active {
      svg {
        fill: var(--green-color);
      }
    }
  }
}
