:root {
  --green-color: #2bff00;
  --green-color-dark: rgb(43 255 0 / 10%);
}
.btn {
  border-radius: 10%;
  width: 150px;
  height: 100px;
  outline: 1px solid white;
  color: white;
}

.image {
  position: relative;
  padding: 20px;
  margin-bottom: 1rem;
  max-width: 250px;

  &__button {
    position: relative;
    top: 8px;
    display: flex;
    gap: 1rem;

    &_ok {
      flex: 0 0 26px;
      height: 20px;
      width: 20px;
      right: 20px;
      position: relative;
      height: 26px;
      display: none;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid var(--green-color-dark);
      border-radius: 50%;
      transition: all 0.2s ease 0s;

      &:hover {
        color: var(--green-color);
      }
    }

    &:hover > &_ok {
      font-size: 50px;
      display: flex;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
